# Creating a database
The goal of this notebook is to creat a database (astronomy.db) with several tables. The database will be used in later notebooks for practice with querying.
## Preliminaries

Import any necessary moduels.

In [37]:
import sqlite3

Open a connection to an SQL database file. (A new db file will be created when we connect.)

In [38]:
conn = sqlite3.connect('astronomy.db')

Connect a cursor to the database.

In [39]:
cur_black_holes = conn.cursor()
cur_solar_system_20 = conn.cursor()
cur_planets = conn.cursor()

## Create tables

Create the black holes table.

In [28]:
cur_black_holes.execute("""
    CREATE TABLE IF NOT EXISTS black_holes (
    num INT, 
    name TEXT, 
    base_mass INT, 
    power INT
    );
    """)

In [29]:
cur_solar_system_20.execute("""CREATE TABLE IF NOT EXISTS solar_system_20 (
    num INT, 
    ss_name TEXT, 
    diameter INT, 
    classification TEXT,
    ss_location TEXT
    );
    """)

In [40]:
cur_planets.execute("""CREATE TABLE IF NOT EXISTS planets (
    planet_no INT, 
    name TEXT, 
    color TEXT, 
    mass FLOAT,
    distance FLOAT
    );
    """)

## Insert data into the tables

In [30]:
cur_black_holes.execute("""INSERT INTO black_holes(num, name, base_mass, power)
    VALUES
        (1, 'M104 - Sombrero Galaxy', 1, 9),
        (2, 'M31 - Andromeda Galaxy', 1, 8),
        (3, 'NGC 4889', 1, 10),
        (4, 'Cygnus X-1', 15, 0);
    """)

In [31]:
cur_solar_system_20.execute("""INSERT INTO solar_system_20(num, ss_name, diameter, classification, ss_location) VALUES
    (1, 'Sun', 865000, 'star', 'close to the center of the Solar System'),
    (2, 'Jupiter', 88846, 'planet', '5th planet from the Sun'),
    (3, 'Saturn', 74900, 'planet', '6th planet from the Sun'),
    (4, 'Uranus', 31763, 'planet', '7th planet from the Sun'),
    (5, 'Neptune', 30779, 'planet', '8th planet from the Sun'),
    (6, 'Earth', 7926, 'planet', '3th planet from the Sun'),
    (7, 'Venus', 7521, 'planet', '2nd planet from the Sun'),
    (8, 'Mars', 4222, 'planet', '4th planet from the Sun'),
    (9, 'Ganymede', 3270, 'moon', 'orbiting Jupiter'),
    (10, 'Titan', 3200, 'moon', 'orbiting Saturn'),
    (11, 'Mercury', 3031, 'planet', 'closest planet to the Sun'),
    (12, 'Callisto', 2996, 'moon', 'orbiting Jupiter'),
    (13, 'Io', 2264, 'moon', 'orbiting Jupiter'),
    (14, 'The Moon', 2159, 'moon', 'orbiting Earth'),
    (15, 'Europa', 1940, 'moon', 'orbiting Jupiter'),
    (16, 'Triton', 1680, 'moon', 'orbiting Neptune'),
    (17, 'Pluto', 1473, 'dwarf planet', 'beyond Neptune'),
    (18, 'Eris', 1445, 'dwarf planet', 'beyond Neptune'),
    (19, 'Titana', 982, 'moon', 'orbiting Uranus'),
    (20, 'Rhea', 949, 'moon', 'orbiting Saturn');
""")

In [43]:
cur_planets.execute("""INSERT INTO planets(planet_no, name, color, mass, distance) VALUES
    (1, 'Mercury', 'gray', 0.6, 0.39),
    (2, 'Venus', 'yellow', 0.8, 0.72),
    (3, 'Earth', 'blue', 1, 1),
    (4, 'Mars', 'red', 0.1, 1.52),
    (5, 'Jupiter', 'orange', 318, 5.20),
    (6, 'Saturn', 'light yellow', 95, 9.53),
    (7, 'Uranus', 'light blue', 15, 19.19),
    (8, 'Neptune', 'dark blue', 17, 30.06);
    """)

Check that there is data in the tables through a query.

In [32]:
#check
query = """SELECT * FROM black_holes;"""
cur_black_holes.execute(query).fetchall()

[(1, 'M104 - Sombrero Galaxy', 1, 9),
 (2, 'M31 - Andromeda Galaxy', 1, 8),
 (3, 'NGC 4889', 1, 10),
 (4, 'Cygnus X-1', 15, 0),
 (1, 'M104 - Sombrero Galaxy', 1, 9),
 (2, 'M31 - Andromeda Galaxy', 1, 8),
 (3, 'NGC 4889', 1, 10),
 (4, 'Cygnus X-1', 15, 0),
 (1, 'M104 - Sombrero Galaxy', 1, 9),
 (2, 'M31 - Andromeda Galaxy', 1, 8),
 (3, 'NGC 4889', 1, 10),
 (4, 'Cygnus X-1', 15, 0),
 (1, 'M104 - Sombrero Galaxy', 1, 9),
 (2, 'M31 - Andromeda Galaxy', 1, 8),
 (3, 'NGC 4889', 1, 10),
 (4, 'Cygnus X-1', 15, 0)]

In [33]:
query = """SELECT classification, COUNT(*), MIN(diameter) AS min_diameter, MAX(diameter) AS max_diameter,  AVG(diameter) AS avg_diameter  FROM solar_system_20 WHERE diameter < 3000 GROUP BY classification HAVING COUNT(classification) > 2;""" 
cur_solar_system_20.execute(query).fetchall()

[('dwarf planet', 6, 1445, 1473, 1459.0),
 ('moon', 21, 949, 2996, 1852.857142857143)]

## Commit the changes and close the connection
Note: if we performed any operation on the database other than sending queries, we need to commit those changes via the '.commit()' method before we close the connection.

In [44]:
conn.commit()
conn.close()