## Preliminaries

In [7]:
import sqlite3
import pandas as pd

Connect to a database. Establish a cursor instance.

In [8]:
conn = sqlite3.connect('astronomy.db')
cur = conn.cursor()

Test the connections.

In [17]:
query = """
SELECT * 
FROM solar_system_20 
LIMIT 5;
""" 

df = pd.DataFrame(cur.execute(query).fetchall())
df.columns = [x[0] for x in cur.description]  # for column names
df

,num,ss_name,diameter,classification,ss_location
0,1,Sun,865000,star,close to the center of the Solar System
1,2,Jupiter,88846,planet,5th planet from the Sun
2,3,Saturn,74900,planet,6th planet from the Sun
3,4,Uranus,31763,planet,7th planet from the Sun
4,5,Neptune,30779,planet,8th planet from the Sun

In [19]:
query = """
SELECT * 
FROM black_holes;
""" 

df = pd.DataFrame(cur.execute(query).fetchall())
df.columns = [x[0] for x in cur.description]  # for column names
df

ValueError: Length mismatch: Expected axis has 0 elements, new values have 4 elements